.aboutUs
  .mainImageHolder
    .imageHolder
      img
        width: 100%
  .tabHolder
    +rems(margin-top,3)
    .nav-tabs
      li
        width: 50%
        margin-bottom: 0
        a
          +rems(padding,2,1.5)
          font-family: $Lato-Semibold
          +font-size(2.6,2.6)
          color: $black
          text-transform: uppercase
          border: 0
          &:hover
            background: transparent
            color: $pro_c
        &.active
          a
            color: $pro_c
    .tab-content
      width: 100%
      +rems(padding-top,4)
      .tab-pane
        .content
          +font-size(1.4,1.8)
          color: $p_c
          font-family: $Lato-Regular
        .buttonHolder
          width: 100%
          +rems(padding-top,2)
        .brandHolder
          +rems(margin-top,5)
          +rems(padding-top,2)
          border-top: 1px solid $black
          .thumbnail
            border: 0
            box-shadow: none !important
            -moz-box-shadow: none !important



