.contactUs
  .categoryHeading
    +rems(padding-bottom,2)
  .mainImageHolder
    .imageHolder
      img
        width: 100%
  h5
    +rems(padding,1,0)
    +rems(margin,3,0,5,0)
    border-bottom: 2px solid $black
    font-style: italic
  .formContact
    .btn-submit
      +rems(margin,3,0,0,0)
    label
      &.error
        display: none !important






