.pageEwarranty
  .mainImageHolder
    .imageHolder
      img
        width: 100%
  .contentWrapper
    +rems(padding-top,5)
    p
      @include font-size(1.4, 1.8)
      font-family: $Lato-Regular
      color: $p_c
    .thankyouMessage
      @media #{$lg, $md}
        border-right: 1px solid $black
        padding-right: 30px
    .aboutMessage
      @media #{$lg, $md}
        border-left: 1px solid $black
        margin-left: -1px
        padding-left: 30px

    .e-warrantyForm
      .form-group
        position: relative
      label
        position: absolute
        top: 0
        bottom: 15px
        left: 15px
        cursor: text
        &.error
          +rems(top,-1.6)
      .top
        @media #{$sm, $xs}
          padding-bottom: 15px

      .feedBackDataHolder
        .feedbackNotice
          color: $p_c
          +font-size(1.6,1.6)
          .paraHeading
            font-family: $Lato-Bold
          .paraContent
            padding-bottom: 0
            font-family: $Lato-Bold
          .paraFooter
            color: $pro_c
            +font-size(1.4,1.4)
            font-style: italic
      .feedBackFormHolder
        +rems(margin-top,4)
        .questionHolder
          display: table
          width: 100%
          +rems(margin-bottom,3)
          .number
            display: table-cell
            span
              width: 32px !important
              height: 32px !important
              background: $filter_c
              font-family: $Lato-Bold
              +font-size(1.6,1.2)
              color: $white
              +rems(padding,1)
              -webkit-border-radius: 100%
              -moz-border-radius: 100%
              border-radius: 100%
              display: block
              text-align: center
          .questions
            display: table-cell
            vertical-align: middle
            .title
              +font-size(1.6,1.6)
              color: $black
              font-family: $Lato-Regular
              width: 100%
              +rems(padding-top,1)
            .answers
              width: 100%
              +rems(padding-top,.5)
              label
                position: relative
                display: inline-block
                color: $p_c
                +font-size(1.4,2)
                bottom: auto
                top: auto
                left: auto
                right: auto

        .commentTitle
          font-family: $Lato-Regular
          +font-size(1.6,1.6)
          color: $black
          +rems(margin-bottom,.5)
          +rems(margin-top,1)
          padding: 0
        .commentEx
          color: $pro_c
          font-family: $Lato-Regular
          +font-size(1.6,1.6)
        .agreedCheckbox
          label
            &.inputHolder
              position: relative
              top: auto
              bottom: auto
              left: auto
              color: $black
              +font-size(1.4,2)
              .link
                color: $pro_c
                font-family: $Lato-Regular
            &.error
              color: #b90000
              left: 0











