.pageEwarrantyConfirmation
  background: #ffffff
  .messageHolder
    +rems(margin-bottom,2)
  .personalDetails,.purchaseDetails
    th
      border-top: 0
      +font-size(1.6,2)
      font-family: $Lato-Regular
      font-weight: normal
      color: $black
    td
      border-top: 0
      text-align: right
      +font-size(1.6,2)
      font-family: $Lato-Regular
      font-weight: normal
      color: $black
  .buttonHolder
    +rems(margin-top,3)
    .btn
      +rems(margin,1)