.updates,.promotions
  .update
    +rems(margin-bottom,6)
    h4
      font-family: $Lato-Semibold
      +font-size-rems(2.6,3)
      text-transform: uppercase
      color: $black
      +rems(padding,2,0)
      margin: 0
    .entry-date
      display: block
      +font-size-rems(1.4,1.6)
      color: $pro_c
      font-family: $Lato-Regular
      font-style: italic
      +rems(padding-bottom,2.5)
      border-bottom: 1px solid $black
    .contents
      +rems(padding-top,4)
    .excerpt
      +rems(padding,3,0,0,0)
      font-family: $Lato-Regular
      +font-size-rems(1.4,1.6)
      color: $p_c
    .buttonHolder
      +rems(padding,2,0,0,0)
      +rems(margin,0,-1,0,-1)
      .btn
        +rems(margin,1)
        position: relative
        .fa
          position: absolute
          left: 10px
          font-size: 20px
          top: 8px
  &.single
    +font-size-rems(1.6,1.8)
    font-family: $Lato-Regular
    color: $p_c







