.cartHolder
.woocommerce
  .cart-collaterals
    .cart_totals
      width: 100%
      h2
        display: inline-block
        color: black
        font-family: $Lato-Bold
        background: transparent
        text-transform: capitalize
        +font-size(1.8,1.8)
        margin-bottom: 30px
        padding: 9px 12px
        border-bottom: 1px solid $table_border
        margin-top: 0
        +rems(margin-bottom,2.5)
      table
        width: 100%
        .order-total
          border-top: 1px solid $table_cell_border
          border-bottom: 1px solid $table_cell_border
          font-family: $Lato-Regular
          +font-size(1.6,1.6)
          font-weight: normal
        tr
          th
            color: $pro_c
            +rems(padding,1.5,0)
            font-weight: normal
          td
            +rems(padding,1.5,0,1.5,2)
            color: $light_gray_c
            font-weight: normal
            text-align: right
      .wc-proceed-to-checkout
        +rems(margin-top,5)


.cartTableHolder
  @media #{$lg, $md}
    padding-right: 20px
    margin-right: 0
    border-right: 1px solid $table_breaker
.catTotalsHolder
  @media #{$lg, $md}
    padding-left: 20px
  .cart-collaterals
    .cart_totals
      h2
        font-family: $Lato-Regular !important

.shipping
  .shipping-calculator-button
    display: block
    font-family: $Lato-Regular
    +font-size(1.4,1.4)
    color: $pro_c
  p
    font-family: $Lato-Regular
    +font-size(1.6,1.6)
    font-weight: normal
    color: $product_des_c


.cart-empty
  font-family: $Lato-Regular
  +font-size(1.6,1.6)
  font-weight: normal
  color: $product_des_c
