.country_to_state
  &.country_select
    a
      box-shadow: none
      border: none
      background: transparent
      line-height: normal
      height: auto
      .select2-arrow
        background: transparent
        border: 0
        b
          background-position: 0 -2px

#ship-to-different-address
  label
    font-family: $Lato-Regular
    +font-size(1.4,1.4)
    color: $black
    display: inline-block
  input
    display: inline-block
    margin-top: 10px
    margin-bottom: 10px

#payment
  background: transparent !important
  border: none !important


.orderDetailsTable,.order_details,.addressesTable
  thead
    tr
      th
        +font-size(1.8,1.8)
        font-family: $Lato-Regular
        font-weight: normal
        padding: 9px 12px
        color: $black
        border-bottom: 1px solid $table_border
  tbody
    tr
      td
        +font-size(1.6,1.6)
        font-family: $Lato-Regular
        font-weight: normal
        padding: 12px 12px
        color: $light_gray_c

.order_details
  thead
    tr
      th.product-total
        text-align: right
  tbody
    tr.order_item
      td
        padding: 12px 12px
        text-align: right
        &.product-name
          text-align: left
        a
          color: $pro_c
  tfoot
    tr
      +font-size(1.6,1.6)
      font-family: $Lato-Regular
      font-weight: normal
      padding: 12px 12px
      th
        border-top: 0 !important
        text-align: right
        color: $pro_c
        font-weight: normal !important
      td
        text-align: right
        color: $light_gray_c
        font-weight: normal !important




.addressesTable
  .shipping
    text-align: right
.customer_details
  tbody
    tr
      +font-size(1.8,1.8)
      font-family: $Lato-Regular
      font-weight: normal
      padding: 12px 12px
      th
        border-top: 0 !important
        text-align: left
        color: $black
        font-weight: normal !important
      td
        text-align: right
        color: $black
        font-weight: normal !important
h2
  +rems(margin,5,0)
  +rems(padding,2,2.5)
  background-color: #e8e8e8
  color: $message_c
  +font-size(2,2)
  text-transform: uppercase
  font-family: $Lato-Regular
h3
  color: $black
  +font-size(1.8,1.8)
  font-family: $Lato-Regular
  text-transform: uppercase
.order_details
  &.bacs_details
    display: table
    li
      display: table-cell
.messageHolder
  //+rems(margin-top,8)


.cartLoginHolder
  +rems(margin-bottom,5)
  .loginButtonSection
    &.table
      width: auto
    span
      font-family: $Lato-Regular
      color: $black
      +font-size(1.4,1.6)
      text-align: left
    .normalLogin
      +rems(padding,1,2)
    .textMiddle
      font-family: $Lato-Bold
      +font-size-rems(3,3)
      color: $black
      text-align: center
      text-transform: uppercase
      @media #{$xs}
        +rems(padding-top, 2)
        +rems(padding-bottom, 2)
    .corporateLogin
      +rems(padding,1,2)


.tableL
  display: table
  .cell
    display: table-cell
    vertical-align: middle
.loginFormHolders
  .normalForm,.corporateForm
    display: none
