.footer
  background-color: $gray_back_c
  +rems('padding',2.5,0)
  +rems('margin',6,0,0,0)
  .navbar
    box-shadow: none
    border: none
    background: transparent
    margin: 0
    min-height: inherit
    .navLinksHolder
      text-align: center
      .navbar-nav
        float: none !important
        display: inline-block
        li
          a
            +font-size(1.2,1.2)
            font-family: $Lato-Regular
            color: $gray_font_c
            text-transform: uppercase
            &:hover
              color: $black
          &.active
            a
              background: transparent
              box-shadow: none
              color: $forms_link_c
    .socialLinksHolder
      display: block
      float: left
      width: 100%
      text-align: center
      +rems('padding',1,0,2.5)
      border-bottom: 1px solid $white
      .socialLinks
        margin-bottom: 0
        li
          display: inline-block
          +rems('margin',0,.5)
          a
            color: $white
            text-transform: uppercase
            &:hover
              color: $gray_font_c
    .copyrightholder
      display: block
      float: left
      width: 100%
      text-align: center
      +rems('padding',2.5,0,0)
      span
        color: $gray_footer_font_c
        +font-size(1.2,1.2)


