.form-group
  label
    font-family: $Lato-Regular
    +font-size(1.4,3.4)
    color: $product_des_c
    &.error
      position: absolute
      +font-size(1.4,1.4)
      +rems(top,-1.6)
      color: #b90000
  input
    &.error
      border-color: #c1595e
  .form-control
    border: 1px solid $input_border
    border-radius: 0
  .row
    .form-group
      label
    //left: 30px
    .checkbox
      label
        position: inherit
        left: 0
        +font-size(1.2,1.4)
        color: $black
        input
          margin-top: 0


.form-horizontal
  .form-group
    @media #{$xs}
      text-align: left
  .control-label
    padding-top: 0
  .checkbox
    label
      position: inherit
      left: 0
      text-align: left
      +font-size(1.2,1.4)
      color: $black
      input
        margin-top: 0
  label
    text-align: left !important

.formEnquiry
  @media #{$lg,$md,$sm}
    +rems(padding,2,3)
  .closeHolder
    +rems(margin-top,4)
    .btn
      +rems(margin,1)
  textarea
    +rems(height,12)
  label
    &.error
      display: none !important

.messageContainer
  display: none
  .messageHolder
    margin-left: auto
    margin-right: auto 
