.loginForm
  text-align: center
  .formLogin
    display: inline-block
    @media #{$lg}
      width: 80%
    .checkbox
      display: inline-block
      padding-top: 0
      label
        +rems(padding-right,1)
        +rems(margin-right,1)
        border-right: 1px solid $black
        padding-top: 4px
    .lost_password
      display: inline-block
      font-family: $Lato-Regular
      +font-size(1.2,1.4)
      padding: 0
      margin: 0
      a
        color: $forms_link_c
    label
      &.error
        display: none !important
    .signupLink
      font-family: $Lato-Regular
      +font-size(1.2,1.4)
      color: $black
      a
        color: $forms_link_c
        +font-size(1.2,1.4)


