/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php

/* The Nivo Slider styles

.nivoSlider
  position: relative
  width: 100%
  height: auto
  overflow: hidden
  img
    position: absolute
    top: 0px
    left: 0px
    max-width: none

.nivo-main-image
  display: block !important
  position: relative !important
  width: 100% !important

/* If an image is wrapped in a link

.nivoSlider a.nivo-imageLink
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  border: 0
  padding: 0
  margin: 0
  z-index: 6
  display: none
  background: white
  filter: alpha(opacity = 0)
  opacity: 0

/* The slices and boxes in the Slider

.nivo-slice
  display: block
  position: absolute
  z-index: 5
  height: 100%
  top: 0

.nivo-box
  display: block
  position: absolute
  z-index: 5
  overflow: hidden
  img
    display: block

/* Caption styles

.nivo-caption
  position: absolute
  left: 0px
  bottom: 0px
  background: #000
  color: #fff
  width: 100%
  z-index: 8
  padding: 5px 10px
  opacity: 0.8
  overflow: hidden
  display: none
  -moz-opacity: 0.8
  filter: alpha(opacity = 8)
  -webkit-box-sizing: border-box
  /* Safari/Chrome, other WebKit
  -moz-box-sizing: border-box
  /* Firefox, other Gecko
  box-sizing: border-box
  /* Opera/IE 8+
  p
    padding: 5px
    margin: 0
  a
    display: inline !important

.nivo-html-caption
  display: none

/* Direction nav styles (e.g. Next & Prev)

.nivo-directionNav a
  position: absolute
  top: 45%
  z-index: 9
  cursor: pointer

.nivo-prevNav
  left: 0px

.nivo-nextNav
  right: 0px

/* Control nav styles (e.g. 1,2,3...)

.nivo-controlNav
  text-align: center
  padding: 15px 0
  a
    cursor: pointer
    &.active
      font-weight: bold
  text-align: right !important
  display: block
  position: absolute !important
  bottom: 10%
  right: 8%
  .nivo-control
    text-indent: 99999px !important

.nivo-caption
  padding: 0px
  bottom: 8%
  background: none !important
  opacity: 1 !important
  .mainCaption h2



/*
 *Skin Name: Nivo Slider Light Theme
 *Skin URI: http://nivo.dev7studios.com
 *Description: A light skin for the Nivo Slider.
 *Version: 1.0
 *Author: Gilbert Pellegrom
 *Author URI: http://dev7studios.com
 *Supports Thumbs: true

.theme-light
  &.slider-wrapper
    background: #fff
  .nivoSlider
    position: relative
    background: #fff url(loading.gif) no-repeat 50% 50%
    margin-bottom: 10px
    overflow: visible
    img
      position: absolute
      top: 0px
      left: 0px
      display: none
    a
      border: 0
      display: block
  .nivo-controlNav
    text-align: left
    padding: 0
    position: relative
    z-index: 10
    a
      display: inline-block
      width: 10px
      height: 10px
      background: url(bullets.png) no-repeat
      text-indent: -9999px
      border: 0
      margin: 0 2px
      &.active
        background-position: 0 100%
  .nivo-directionNav a
    display: block
    width: 30px
    height: 30px
    background: url(arrows.png) no-repeat
    text-indent: -9999px
    border: 0
    top: auto
    bottom: -36px
    z-index: 11
    &:hover
      background-color: #eee
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
  a
    &.nivo-nextNav
      background-position: 160% 50%
      right: 0px
    &.nivo-prevNav
      background-position: -60% 50%
      left: auto
      right: 35px
  .nivo-caption
    font-family: Helvetica, Arial, sans-serif
    a
      color: #fff
      border-bottom: 1px dotted #fff
      &:hover
        color: #fff
  .nivo-controlNav.nivo-thumbs-enabled
    width: 80%
    a
      width: auto
      height: auto
      background: none
      margin-bottom: 5px
    img
      display: block
      width: 120px
      height: auto