.mainMenusHolder
  overflow: visible !important
  .navigation
    position: relative
    +rems('margin-top',2.5)
    +rems('margin-bottom',2.5)
    .logoHolder
      position: absolute
      top: 0
      bottom: 0
      left: 15px
      a
        display: block
        height: 100%
    .primaryMenu
      box-shadow: none
      border: none
      margin: 0
      background: transparent
      float: right
      position: inherit
      min-height: 0
      .navbar-nav
        li
          a
            font-family: $Lato-Regular
            +font-size(1.4,1.4)
            color: $menu_hover_c
            text-transform: uppercase
            &:hover
              color: $forms_link_c
          &.active
            a
              background: transparent
              box-shadow: none
              color: $forms_link_c





