.connectMenu
  background-color: $menu_dark_c
  .navbar
    margin: 0
    padding: 0
    box-shadow: none
    background: transparent
    border: none
    min-height: 0
    .navbar-header
      margin-bottom: 0
      li
        display: block
        float: left
        font-family: $Lato-Regular
        text-transform: uppercase
        +font-size(1,1)
        color: $white
        +rems('margin-right',1)
        padding: 10px 0
        &.socialLinks
          padding: 0
          margin: 3px 10px 3px 0
          a
            display: block
            padding: 3px 0
            .fa
              color: $white
              +font-size(1.8,1.8)

    .navbar-collapse
      border: none
      @media #{$xs}
        display: none
      .navbar-nav
        li
          display: block
          float: left
          font-family: $Lato-Regular
          text-transform: uppercase
          +font-size(1,1)
          color: $white
          +rems('margin-left',1)
          &.active
            background: transparent
            color: $menu_active_top
            a
              background: transparent
              color: $menu_active_top
              box-shadow: none
              text-shadow: 0 1px 0 $menu_active_top
          a
            padding: 10px 0
            +font-size(1,1)
            color: $white
          &.extraIcon
            margin: 4px 0
            +rems('margin-left',1)
            a
              padding: 4px 0 4px 10px
              border-left: 1px solid $white
              +font-size(1.4,1.4)




