.mainMenusHolder
  .secondaryMenu
    box-shadow: none
    border-top: 1px solid $menu_separator
    border-bottom: 0
    border-left: 0
    border-right: 0
    margin: 0
    background: transparent
    float: right
    min-height: 0
    border-radius: 0
    .navbar-nav
      li
        a
          +font-size(1.2,1.2)
          color: $gray_footer_font_c
          text-transform: uppercase
          &:hover
            color: $forms_link_c
        &.active
          a
            background: transparent
            box-shadow: none
            color: $forms_link_c