/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT

.slicknav_btn
  position: relative
  display: block
  vertical-align: middle
  float: right
  padding: 0.438em 0.625em 0.438em 0.625em
  line-height: 1.125em
  cursor: pointer
  .slicknav_icon-bar + .slicknav_icon-bar
    margin-top: 0.188em

.slicknav_menu
  *zoom: 1
  .slicknav_menutxt
    display: block
    line-height: 1.188em
    float: left
  .slicknav_icon
    float: left
    margin: 0.188em 0 0 0.438em
  .slicknav_no-text
    margin: 0
  .slicknav_icon-bar
    display: block
    width: 1.125em
    height: 0.125em
    -webkit-border-radius: 1px
    -moz-border-radius: 1px
    border-radius: 1px
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both

.slicknav_nav
  clear: both
  ul, li
    display: block
  .slicknav_arrow
    font-size: 0.8em
    margin: 0 0 0 0.4em
  .slicknav_item
    cursor: pointer
    a
      display: inline
  .slicknav_row, a
    display: block
  .slicknav_parent-link a
    display: inline

.slicknav_brand
  float: left

.slicknav_menu
  font-size: 16px
  box-sizing: border-box
  background: #4c4c4c
  padding: 5px
  *
    box-sizing: border-box
  .slicknav_menutxt
    color: #fff
    font-weight: bold
    text-shadow: 0 1px 3px #000
  .slicknav_icon-bar
    background-color: #fff

.slicknav_btn
  margin: 5px 5px 6px
  text-decoration: none
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  background-color: #222

.slicknav_nav
  color: #fff
  margin: 0
  padding: 0
  font-size: 0.875em
  list-style: none
  overflow: hidden
  ul
    list-style: none
    overflow: hidden
    padding: 0
    margin: 0 0 0 20px
  .slicknav_row
    padding: 5px 10px
    margin: 2px 5px
    &:hover
      -webkit-border-radius: 6px
      -moz-border-radius: 6px
      border-radius: 6px
      background: #ccc
      color: #fff
  a
    padding: 5px 10px
    margin: 2px 5px
    text-decoration: none
    color: #fff
    &:hover
      -webkit-border-radius: 6px
      -moz-border-radius: 6px
      border-radius: 6px
      background: #ccc
      color: #222
  .slicknav_txtnode
    margin-left: 15px
  .slicknav_item a, .slicknav_parent-link a
    padding: 0
    margin: 0

.slicknav_brand
  color: #fff
  font-size: 18px
  line-height: 30px
  padding: 7px 12px
  height: 44px

.mobileMenuHolder
  .slicknav_menu
    background: transparent !important
    width: 100%
    .slicknav_nav
      width: 100%
      position: absolute
      top: 137%
      left: 0
      z-index: 99999999
      background: $menu_back
