.myaccount_user
  .userWelcome
    font-family: $Lato-Bold
    +font-size(3,3)
    color: $black
    +rems(padding,2.5,0)
    display: block
  .userAccountMessage
    font-family: $Lato-Regular
    +font-size(1.6,1.6)
    color: $black
    display: block
  a
    color: $pro_c


