
.woocommerce-error, .woocommerce-info, .woocommerce-message
  padding: 1em 2em 1em 3.5em !important
  margin: 0 0 2em !important
  position: relative
  background-color: $back_light_gray
  color: $black
  border-top: 3px solid #a46497
  list-style: none !important
  width: auto
  word-wrap: break-word
  +font-size(1.6,1.6)
  font-family: $Lato-Regular
  a
    color: $pro_c
.woocommerce-error
  &:after, &:before
    content: " "
    display: table
.woocommerce-info
  &:after, &:before
    content: " "
    display: table
.woocommerce-message
  &:after, &:before
    content: " "
    display: table
.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before
  font-family: WooCommerce
  content: "\e028"
  display: inline-block
  position: absolute
  top: 1em
  left: 1.5em
.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button
  float: right
.woocommerce-error li, .woocommerce-info li
  list-style: none !important
  padding-left: 0 !important
  margin-left: 0 !important
.woocommerce-message
  li
    list-style: none !important
    padding-left: 0 !important
    margin-left: 0 !important
  border-top-color: #8fae1b
  &:before
    content: "\e015"
    color: #8fae1b
.col-lg-12
  .woocommerce-info
    margin-bottom : 20px !important
.woocommerce-info
  border-top-color: #1e85be
  &:before
    color: #1e85be
.woocommerce-error
  border-top-color: #b81c23
  &:before
    content: "\e016"
    color: #b81c23
small.note
  display: block
  color: #777
  font-size: .857em
  margin-top: 10px

.woocommerce-message
  font-family: $Lato-Regular !important
  +font-size(1.4,1.4)
  .wc-forward
    color: $light_gray_c !important
    font-family: $Lato-Regular !important
    font-size: 14px !important
    line-height: 14px !important
    background: transparent !important
    padding: 0 !important
    margin: 0 !important
    font-weight: 400 !important
    &:hover
      color: $notice_c !important




.messageHolder
  display: table
  +rems(margin-bottom,5)
  .icon
    display: table-cell
    vertical-align: middle
    width: 60px
    +font-size(4.8)
    color: $pro_c
    .fa
      +rems(margin-right,1)
  .message
    display: table-cell
    vertical-align: middle
    color: $message_c
    +font-size(1.8,2)

