.woocommerce-checkout-review-order-table
  thead
    tr
      th
        +font-size(1.8,1.8)
        font-family: $Lato-Regular
        font-weight: 400
        color: $black
        border-bottom: 1px solid #999
        &.product-total
          text-align: right
  tbody
    tr
      border: 0
      +font-size(1.6,1.6)
      color: $product_des_c
      td
        border-color: $white
        &.product-total
          text-align: right
  tfoot
    +rems(padding-top,3)
    tr
      th
        border-top: 0 !important
        color: $pro_c
        +font-size(1.6,1.6)
        font-weight: normal !important
        text-align: right
      td
        text-align: right
        +font-size(1.6,1.6)
        color: $product_des_c
        font-weight: normal !important


