.woocommerce-pagination
  +rems(margin-top,2)
  display: block
  width: 100%
  float: left
  .page-numbers
    display: block
    float: right
    li
      display: inline-block
      .page-numbers
        +font-size(1.8,1.8)
        font-family: $Lato-Regular
        color: $pagination_c
        +rems(padding,.5,.8)
        &:hover
          color: $black
        &.current
          color: $white
          background: $pagination_b



