.popup
  display: none
.featherlight
  overflow: auto !important
  .featherlight-content
    max-height: none !important
    margin-top: 2%
    margin-bottom: 2%
    .featherlight-close
      display: none
    .popup
      display: block
      +rems(max-width,96)
      .closeHolder
        display: block
        width: 100%
        text-align: center
        +rems(margin-top,2)
      ul
        +rems(padding,0,1,0,4)
        list-style-image: url("images/arrow.png")
        li
          color: $li_c
          +font-size(1.6,2)
          +rems(margin-bottom,1)
          font-family: $Lato-Regular
          a
            color: $pro_c
            +font-size(1.6,2)
      .brand
        h4
          font-family: $Lato-Semibold
          +font-size(2,2)
          color: $black
          text-transform: uppercase
          +rems(padding,1,0)
        .content
          +font-size-rems(1.4,1.6)
          font-family: $Lato-Regular
          color: $p_c
        .imageHolder
          img
            margin: auto
        .closeHolder
          .btn
            +rems(margin,1,1)



