.productOneFour
  .thumbnail
    border: none
    box-shadow: none
    .imageHolder
      display: block
      position: relative
      width: 100%
      +rems('padding',6.5,0)
      border: 1px solid $border_c
      img
        +rems('max-height',11.2)
        @media #{$xs}
          +rems('max-height',21.2)
        @media #{$sm}
          +rems('max-height',15.2)
      .ribbon
        position: absolute
        top: -2px
        left: 5%
        &.sales
          .text
            position: absolute
            display: table
            top: 0
            bottom: 0
            left: 0
            right: 0
            text-align: center
            width: 100%
            span
              color: $white
              font-size: 9px
              text-align: center
              text-transform: uppercase

  .caption
    text-align: center
    h3
      text-align: center
      +rems('margin',0,0,.5,0)
      font-family: $Lato-Semibold
      a
        +font-size(1.4,1.6)
        text-transform: uppercase
        font-weight: 700
        color: $black
        text-align: center
    .description
      color: $description_c
      +font-size(1.4,1.6)
      text-align: center
      padding: 0
      font-family: $Lato-Regular
    .price
      color: $price_c
      +font-size(1.8,1.8)
      +rems('margin',.5,0,.5,0)
      text-align: center
      +rems('padding',0,1,1.5,1)
      border-bottom: 2px solid $black
      ins
        text-decoration: none
      del
        color: #ccc



.singleProduct
  .singleProductImages
    .woocommerce-main-image
      display: block
    .thumbnails
      +rems('margin',2,-1,2,-1)
      .thumb
        +rems('padding',0,1,0,1)
  .singleProductSummary
    +rems('padding-left',6)
    @media #{$xs}
      +rems('padding-left',3)
      +rems('padding-right',3)
    .product_title
      font-family: $Lato-Regular
      +font-size(3,3)
      color: $black
      text-transform: uppercase
      margin-top: 0
    .description
      p
        font-family: $Lato-Regular
        +font-size(1.4,2.2)
        color: $product_des_c
    p.price
      +font-size(4,4)
      font-family: $Lato-Bold
      color: $black
      +rems('margin',2.5,0)
      padding: 0
      ins
        text-decoration: none
      del
        color: $product_des_c
    .productBuyingDetails
      width: 100%
      display: table
      .productLabel
        display: inline-block
      .quantity
        display: inline-block
        float: right
    .variations
      .label
        vertical-align: middle
        color: $black
        font-family: $Lato-Semibold
        +font-size(1.4,1.4)
      .value
        vertical-align: middle
        +font-size(1.4,1.4)
        color: $black
        select
          float: right
          border: 1px solid $input_border
          +font-size(1.4,1.4)
          color: $black
          +rems(padding,.4,.8)
    .single_variation_container
      display: block !important







.variations_form
  .variations
    width: 100%
    .value
      input,select
        +rems(max-width,20)
        +rems(margin-bottom,1)
    .label
      +font-size(1.4,1.4)
      vertical-align: middle
      display: table-cell
      text-align: left
      padding: 0
      +rems(padding-bottom,1)
      label
        color: $black
        text-align: left
        +font-size(1.4,1.4)
        margin-bottom: 0
  .quantityHolder
    width: 100%
    .label
      +font-size(1.4,1.4)
      vertical-align: middle
      display: table-cell
      text-align: left
      padding: 0
      +rems(padding-bottom,1)
      label
        color: $black
        text-align: left
        +font-size(1.4,1.4)
        margin-bottom: 0
    .value
      input,select
        float: right
        +rems(max-width,20)
        +rems(margin-bottom,1)






.singleProductSummary
  .description
    +rems(padding-bottom,1.5)
    border-bottom: 2px solid $black
  .entry-content
    .shop_attributes
      width: 100%
      .label
        +font-size(1.4,1.4)
        vertical-align: middle
        display: table-cell
        text-align: left
        padding: 0
        +rems(padding-bottom,1)
        label
          color: $black
          text-align: left
          +font-size(1.4,1.4)
          margin-bottom: 0
      .form-control
        float: right
        +rems(max-width,20)
        +rems(width,20)
        +rems(margin-bottom,1)




.singleProductSummary
  .buttonHolder
    .btn
      +rems(margin,4,0,0,0 )
      +rems(min-width,15)
      &.link
        float: left
      &.single_add_to_cart_button
        float: right
      @media #{$sm,$xs,$xxs}
        &.single_add_to_cart_button
          float: left
  .cart
    table
      width: 100%
      .value
        input,select
          +rems(max-width,20)
          +rems(margin-bottom,1)
        .form-group
          .form-control
            float: right
      .label
        +font-size(1.4,1.4)
        vertical-align: middle
        display: table-cell
        text-align: left
        padding: 0
        +rems(padding-bottom,1)
        label
          color: $black
          text-align: left
          +font-size(1.4,1.4)


.single_variation
  text-align: right
  .price
    +font-size(3,3)
    font-family: $Lato-Bold
    color: $p_c
    +rems('margin',2.5,0)
    padding: 0
