.ribbonHolder
  +rems(margin-bottom,8)
  @media #{$xs}
    +rems(margin-bottom,4)
  .ribbonBox
    .ribbonContainer
      float: left
      width: 100%
      position: relative
      +rems(padding-top,1)
      img
        max-width: none
        width: 100%
      .fullWidthContainer
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        .table
          margin-bottom: 0
      .title
        display: table-cell
        vertical-align: middle
        h3
          font-family: $Lato-Regular
          +font-size(3,3)
          +rems(padding,0,0,0,6%)
          margin: 0
          color: $white
          float: left
          text-transform: uppercase
          padding-top: 1rem
          @media #{$xs}
            +font-size(2,2)
            padding-left: 6%
            padding-right: 6%
      .ribbon
        position: absolute
        right: 20px
        @media #{$xs}
          display: none
        @media #{$sm}
          text-align: center
        img
          @media #{$sm}
            display: inline-block
            width: 80%
        .textHolder
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          .holder
            background: none
            text-align: center
            .cell
              padding-bottom: 20%
            span
              display: block
              &.topText
                font-family: $Lato-Semibold
                +font-size(3,3)
                text-transform: uppercase
                color: $white
                @media #{$sm}
                  +font-size(2,2)
              &.bottomText
                font-family: $Lato-Semibold
                +font-size(1.6,1.6)
                text-transform: uppercase
                color: $white
                @media #{$sm}
                  +font-size(1.4,1.4)


    &.ribbonBoxLg
      .title
        h4
          margin: 0
          color: $white
          +font-size(3,3)
          text-transform: uppercase
          font-family: $Lato-Regular
          max-width: 80%
          +rems(padding,1,0,0,3)
          @media #{$xs}
            +font-size(2,2)
            text-transform: uppercase
            font-family: $Lato-Regular
            max-width: 100%
            +rems(padding,1,3,0,3)
        .text
          +font-size(1.6,2)
          color: $white
          font-family: $Lato-Regular
          max-width: 80%
          +rems(padding,1,0,0,3)
          @media #{$xs}
            display: none !important


    &.ribbonBoxMd
      .title
        h4
          margin: 0
          color: $white
          +font-size(3,3)
          text-transform: uppercase
          font-family: $Lato-Regular
          max-width: 80%
          +rems(padding,1,0,0,3)
          @media #{$xs}
            +font-size(2,2)
            text-transform: uppercase
            font-family: $Lato-Regular
            max-width: 100%
            +rems(padding,1,3,0,3)
        .text
          +font-size(1.6,2)
          color: $white
          font-family: $Lato-Regular
          max-width: 80%
          +rems(padding,1,0,0,3)
          @media #{$xs}
            display: none !important


  &.bottom
    +rems(margin-top,4)