.woocommerce
  .shop_table
    border: none !important
    border-collapse: collapse !important
    td
      border-top: 0 !important
    &.cart
      border: 0
      .product-thumbnail,.product-quantity,.product-price,.product-subtotal,.product-remove
        +font-size(1.8,1.8)
        font-family: $Lato-Regular
        font-weight: 400
        color: $black
        border-bottom: 1px solid #999
      .cart_item
        .product-thumbnail,.product-quantity,.product-price,.product-subtotal,.product-remove
          border-bottom: 1px solid $white
        .product-thumbnail
          a
            display: inline-block
            vertical-align: middle
            img
              max-width: 90px
          .productDetails
            display: inline-block
            vertical-align: middle
            +rems(padding-left,1)
            a
              display: block
              font-family: $Lato-Regular
              +font-size(1.4,1.4)
              color: $pro_c
            .variation
              display: block
              +font-size(1.4,1.4)
              color: $light_gray_c
              margin-bottom: 0
              dt
                display: inline-block
                +font-size(1.4,1.4)
              dd
                display: inline-block
                +font-size(1.4,1.4)
                p
                  margin: 0
        .product-remove
          .remove
            width: 20px
            height: 20px
            +font-size(1.4,1.4)
            display: table
            text-decoration: none
            text-align: center
            .fa
              vertical-align: middle
              color: $remove_cross
              display: table-cell
            &:hover
              background: $remove_cross
              .fa
                color: $white



      .coupon
        input
          display: inline-block
          width: auto !important
          &.input-text
            width: auto !important
            +rems(margin-bottom,2)
      .actions
        +rems(padding-top,5)



