.signUpFormHolder
  form
    p
      position: relative
    br
      display: none
    label
      position: absolute
      top: 0
      bottom: 15px
      left: 15px
      cursor: text

  .registerForm
    .submitHolder
      text-align: center
    .checkbox
      label
        position: inherit
        +font-size(1.2,1.4)
        left: 0
        color: $black
      input
        margin-top: 0



