.tree
  +rems(margin-bottom,6)
  .treeHeading
    color: black
    font-family: $Lato-Bold
    +font-size(2,2)
    margin-bottom: 30px
    text-decoration: underline
    .fa
      margin-left: 20%
      font-weight: 400
      color: $product_des_c
  .treeHolder, ul
    display: block
    li
      display: block
      width: 100%
      a
        display: block
        color: $forms_link_c
        +font-size(1.8,1.8)
        font-family: $Lato-Regular
        +rems(padding,1,0)

.resultsCountHolder
  background-color: $back_light_gray
  +rems(padding,1.5,1)
  +rems(margin,0,.4,1,.4)
  .woocommerce-result-count
    +font-size(1.2,1.2)
    font-family: $Lato-Regular
    color: $light_gray_c
    margin: 0

/* =Price Filter Widget
 *	--------------------------------------------------------------

.widget_price_filter
  .price_slider
    margin-bottom: 1em
  .price_slider_amount
    text-align: left
    +font-size(1.8,1.8)
    font-family: $Lato-Regular
    color: $filter_c
    .button
      font-size: 1.15em
      float: left
      display: none
  .ui-slider
    position: relative
    text-align: left
    .ui-slider-handle
      position: absolute
      z-index: 2
      width: 0.9em
      height: 0.9em
      border: 1px solid $drag_filter
      cursor: pointer
      background: $drag_filter
      outline: none
      top: -0.2em
      &:last-child
        margin-left: -0.5em
    .ui-slider-range
      position: absolute
      z-index: 1
      font-size: .7em
      display: block
      border: 0
      background: $black
      -webkit-border-radius: 1em
      -moz-border-radius: 1em
      border-radius: 1em
  .price_slider_wrapper .ui-widget-content
    -webkit-border-radius: 1em
    -moz-border-radius: 1em
    border-radius: 1em
    background: $drag_back
  .ui-slider-horizontal
    height: .5em
    .ui-slider-range
      top: 0
      height: 100%
    .ui-slider-range-min
      left: -1px
    .ui-slider-range-max
      right: -1px