@charset "UTF-8"

.clear
  clear: both

.woocommerce
  .woocommerce-breadcrumb:after, .woocommerce-error:after, .woocommerce-info:after, .woocommerce-message:after
    clear: both
  div.product form.cart .reset_variations, form .form-row label.hidden
    visibility: hidden

@-webkit-keyframes spin
  100%
    -webkit-transform: rotate(360deg)


@-moz-keyframes spin
  100%
    -moz-transform: rotate(360deg)


@keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)


@font-face
  font-family: star
  src: url(../fonts/star.eot)
  src: url(../fonts/star.eot?#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../fonts/star.svg#star) format("svg")
  font-weight: 400
  font-style: normal


@font-face
  font-family: WooCommerce
  src: url(../fonts/WooCommerce.eot)
  src: url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(../fonts/WooCommerce.svg#WooCommerce) format("svg")
  font-weight: 400
  font-style: normal


p.demo_store
  position: fixed
  top: 0
  left: 0
  right: 0
  margin: 0
  width: 100%
  font-size: 1em
  padding: 1em 0
  text-align: center
  background-color: #a46497
  color: #fff
  z-index: 99998
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2)
  a
    color: #fff

.admin-bar p.demo_store
  top: 32px

.woocommerce
  .blockUI.blockOverlay
    position: relative
    &:before
      height: 1em
      width: 1em
      position: absolute
      top: 50%
      left: 50%
      margin-left: -.5em
      margin-top: -.5em
      display: block
      content: ""
      -webkit-animation: spin 1s ease-in-out infinite
      -moz-animation: spin 1s ease-in-out infinite
      animation: spin 1s ease-in-out infinite
      background: url(../images/icons/loader.svg) center center
      background-size: cover
      line-height: 1
      text-align: center
      font-size: 2em
      color: rgba(0, 0, 0, 0.75)
  .loader:before
    height: 1em
    width: 1em
    position: absolute
    top: 50%
    left: 50%
    margin-left: -.5em
    margin-top: -.5em
    display: block
    content: ""
    -webkit-animation: spin 1s ease-in-out infinite
    -moz-animation: spin 1s ease-in-out infinite
    animation: spin 1s ease-in-out infinite
    background: url(../images/icons/loader.svg) center center
    background-size: cover
    line-height: 1
    text-align: center
    font-size: 2em
    color: rgba(0, 0, 0, 0.75)
  a.remove
    display: block
    font-size: 1.5em
    height: 1em
    width: 1em
    text-align: center
    line-height: 1
    border-radius: 100%
    color: red !important
    text-decoration: none
    font-weight: 700
    border: 0
    &:hover
      color: #fff !important
      background: red
  .woocommerce-error, .woocommerce-info, .woocommerce-message
    padding: 1em 2em 1em 3.5em !important
    margin: 0 0 2em !important
    position: relative
    background-color: #f7f6f7
    color: #515151
    border-top: 3px solid #a46497
    list-style: none !important
    width: auto
    word-wrap: break-word
  .woocommerce-error
    &:after, &:before
      content: " "
      display: table
  .woocommerce-info
    &:after, &:before
      content: " "
      display: table
  .woocommerce-message
    &:after, &:before
      content: " "
      display: table
  .woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before
    font-family: WooCommerce
    content: "\e028"
    display: inline-block
    position: absolute
    top: 1em
    left: 1.5em
  .woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button
    float: right
  .woocommerce-error li, .woocommerce-info li
    list-style: none !important
    padding-left: 0 !important
    margin-left: 0 !important
  .woocommerce-message
    li
      list-style: none !important
      padding-left: 0 !important
      margin-left: 0 !important
    border-top-color: #8fae1b
    &:before
      content: "\e015"
      color: #8fae1b
  .woocommerce-info
    border-top-color: #1e85be
    &:before
      color: #1e85be
  .woocommerce-error
    border-top-color: #b81c23
    &:before
      content: "\e016"
      color: #b81c23
  small.note
    display: block
    color: #777
    font-size: .857em
    margin-top: 10px
  .woocommerce-breadcrumb
    margin: 0 0 1em
    padding: 0
    font-size: .92em
    color: #777
    &:after, &:before
      content: " "
      display: table
    a
      color: #777
  .quantity .qty
    width: 3.631em
    text-align: center
  div.product
    margin-bottom: 0
    position: relative
    .product_title
      clear: none
      margin-top: 0
      padding: 0
  #reviews #comments .add_review:after, .products ul:after
    clear: both
  div.product
    form.cart:after, p.cart:after
      clear: both
  nav.woocommerce-pagination ul, ul.products:after
    clear: both
  div.product
    p.price, span.price
      color: #77a464
      font-size: 1.25em
    p.price ins, span.price ins
      background: inherit
      font-weight: 700
    p.price del, span.price del
      opacity: .5
    p.stock
      font-size: .92em
    .stock
      color: #77a464
    .out-of-stock
      color: red
    .woocommerce-product-rating
      margin-bottom: 1.618em
    div
      &.images, &.summary
        margin-bottom: 2em
      &.images
        img
          display: block
          width: 100%
          height: auto
          box-shadow: none
        div.thumbnails
          padding-top: 1em
      &.social
        text-align: right
        margin: 0 0 1em
        span
          margin: 0 0 0 2px
          span
            margin: 0
          .stButton .chicklets
            padding-left: 16px
            width: 0
        iframe
          float: left
          margin-top: 3px
    .woocommerce-tabs ul.tabs
      list-style: none
      padding: 0 0 0 1em
      margin: 0 0 1.618em
      overflow: hidden
      position: relative
      li
        border: 1px solid #d3ced2
        background-color: #ebe9eb
        display: inline-block
        position: relative
        z-index: 0
        border-radius: 4px 4px 0 0
        margin: 0 -5px
        padding: 0 1em
        a
          display: inline-block
          padding: .5em 0
          font-weight: 700
          color: #515151
          text-decoration: none
    form.cart
      &:after, &:before
        display: table
        content: " "
    p.cart
      &:after, &:before
        display: table
        content: " "
    .woocommerce-tabs
      ul.tabs
        li
          a:hover
            text-decoration: none
            color: #6b6b6b
          &.active
            background: #fff
            z-index: 2
            border-bottom-color: #fff
            a
              color: inherit
              text-shadow: inherit
            &:before
              box-shadow: 2px 2px 0 #fff
            &:after
              box-shadow: -2px 2px 0 #fff
          &:after
            border: 1px solid #d3ced2
            position: absolute
            bottom: -1px
            width: 5px
            height: 5px
            content: " "
          &:before
            border: 1px solid #d3ced2
            position: absolute
            bottom: -1px
            width: 5px
            height: 5px
            content: " "
            left: -6px
            -webkit-border-bottom-right-radius: 4px
            -moz-border-bottom-right-radius: 4px
            border-bottom-right-radius: 4px
            border-width: 0 1px 1px 0
            box-shadow: 2px 2px 0 #ebe9eb
          &:after
            right: -6px
            -webkit-border-bottom-left-radius: 4px
            -moz-border-bottom-left-radius: 4px
            border-bottom-left-radius: 4px
            border-width: 0 0 1px 1px
            box-shadow: -2px 2px 0 #ebe9eb
        &:before
          position: absolute
          content: " "
          width: 100%
          bottom: 0
          left: 0
          border-bottom: 1px solid #d3ced2
          z-index: 1
      .panel
        margin: 0 0 2em
        padding: 0
    form.cart, p.cart
      margin-bottom: 2em
    form.cart
      div.quantity
        float: left
        margin: 0 4px 0 0
      table
        border-width: 0 0 1px
        td
          padding-left: 0
        div.quantity
          float: none
          margin: 0
        small.stock
          display: block
          float: none
      .variations
        margin-bottom: 1em
        border: 0
        td, th
          border: 0
        label
          font-weight: 700
        select
          width: 100%
          float: left
        td
          &.label
            padding-right: 1em
          vertical-align: top
      .woocommerce-variation-description p
        margin-bottom: 1em
      .wc-no-matching-variations
        display: none
      .button
        vertical-align: middle
        float: left
      .group_table td
        &.label
          padding-right: 1em
          padding-left: 1em
        vertical-align: top
        padding-bottom: .5em
        border: 0
  span.onsale
    min-height: 3.236em
    min-width: 3.236em
    padding: .202em
    font-weight: 700
    position: absolute
    text-align: center
    line-height: 3.236
    top: -.5em
    left: -.5em
    margin: 0
    border-radius: 100%
    background-color: #77a464
    color: #fff
    font-size: .857em
    -webkit-font-smoothing: antialiased
  .products ul, ul.products
    margin: 0 0 1em
    padding: 0
    list-style: none
    clear: both
  .products ul
    &:after, &:before
      content: " "
      display: table
  ul.products
    &:after, &:before
      content: " "
      display: table
  .products ul li
    list-style: none
  ul.products li
    list-style: none
    &.product
      .onsale
        top: 0
        right: 0
        left: auto
        margin: -.5em -.5em 0 0
      h3
        padding: .5em 0
        margin: 0
        font-size: 1em
      a
        text-decoration: none
        img
          width: 100%
          height: auto
          display: block
          margin: 0 0 1em
          box-shadow: none
      strong
        display: block
      .star-rating
        font-size: .857em
      .button
        margin-top: 1em
      .price
        color: #77a464
        display: block
        font-weight: 400
        margin-bottom: .5em
        font-size: .857em
        del
          color: inherit
          opacity: .5
          display: block
        ins
          background: 0 0
          font-weight: 700
        .from
          font-size: .67em
          margin: -2px 0 0
          text-transform: uppercase
          color: rgba(132, 132, 132, 0.5)
  .woocommerce-ordering, .woocommerce-result-count
    margin: 0 0 1em
  .woocommerce-ordering select
    vertical-align: top
  nav.woocommerce-pagination
    text-align: center
    ul
      display: inline-block
      white-space: nowrap
      padding: 0
      border: 1px solid #d3ced2
      border-right: 0
      margin: 1px
      li
        border-right: 1px solid #d3ced2
        padding: 0
        margin: 0
        float: left
        display: inline
        overflow: hidden
        a, span
          margin: 0
          text-decoration: none
          line-height: 1
          font-size: 1em
          font-weight: 400
          padding: .5em
          min-width: 1em
          display: block
        a
          &:focus, &:hover
            background: #ebe9eb
            color: #8a7e88
        span.current
          background: #ebe9eb
          color: #8a7e88
  #respond input#submit, a.button, button.button, input.button
    font-size: 100%
    margin: 0
    line-height: 1
    cursor: pointer
    position: relative
    font-family: inherit
    text-decoration: none
    overflow: visible
    padding: .618em 1em
    font-weight: 700
    border-radius: 3px
    left: auto
    color: #515151
    background-color: #ebe9eb
    border: 0
    white-space: nowrap
    display: inline-block
    background-image: none
    box-shadow: none
    -webkit-box-shadow: none
    text-shadow: none
  #respond input#submit.loading, a.button.loading, button.button.loading, input.button.loading
    opacity: .25
    padding-right: 2.618em
  #respond input#submit.loading:after, a.button.loading:after, button.button.loading:after, input.button.loading:after
    font-family: WooCommerce
    content: "\e01c"
    vertical-align: top
    -webkit-font-smoothing: antialiased
    font-weight: 400
    position: absolute
    top: .618em
    right: 1em
    -webkit-animation: spin 2s linear infinite
    -moz-animation: spin 2s linear infinite
    animation: spin 2s linear infinite
  #respond input#submit.added:after, a.button.added:after, button.button.added:after, input.button.added:after
    font-family: WooCommerce
    content: "\e017"
    margin-left: .53em
    vertical-align: bottom
  #respond input#submit:hover, a.button:hover, button.button:hover, input.button:hover
    background-color: #dad8da
    text-decoration: none
    background-image: none
    color: #515151
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt
    background-color: #a46497
    color: #fff
    -webkit-font-smoothing: antialiased
  #respond input#submit.alt:hover, a.button.alt:hover, button.button.alt:hover, input.button.alt:hover
    background-color: #935386
    color: #fff
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt
    &.disabled
      background-color: #a46497
      color: #fff
      &:hover
        background-color: #a46497
        color: #fff
    &:disabled
      background-color: #a46497
      color: #fff
      &:hover
        background-color: #a46497
        color: #fff
      &[disabled]
        background-color: #a46497
        color: #fff
        &:hover
          background-color: #a46497
          color: #fff
  #respond input#submit, a.button, button.button, input.button
    &.disabled
      color: inherit
      cursor: not-allowed
      opacity: .5
    &:disabled
      color: inherit
      cursor: not-allowed
      opacity: .5
      &[disabled]
        color: inherit
        cursor: not-allowed
        opacity: .5
  #respond input#submit
    &.disabled:hover
      color: inherit
      background-color: #ebe9eb
    &:disabled
      &:hover, &[disabled]:hover
        color: inherit
        background-color: #ebe9eb
  a.button
    &.disabled:hover
      color: inherit
      background-color: #ebe9eb
    &:disabled
      &:hover, &[disabled]:hover
        color: inherit
        background-color: #ebe9eb
  button.button
    &.disabled:hover
      color: inherit
      background-color: #ebe9eb
    &:disabled
      &:hover, &[disabled]:hover
        color: inherit
        background-color: #ebe9eb
  input.button
    &.disabled:hover
      color: inherit
      background-color: #ebe9eb
    &:disabled
      &:hover, &[disabled]:hover
        color: inherit
        background-color: #ebe9eb
  .cart
    .button, input.button
      float: none
  a.added_to_cart
    padding-top: .5em
    white-space: nowrap
    display: inline-block
  #reviews
    #comments
      .add_review
        &:after, &:before
          content: " "
          display: table
      ol.commentlist
        li .comment-text
          &:after, &:before
            content: " "
            display: table
        &:after, &:before
          content: " "
          display: table
    h2 small
      float: right
      color: #777
      font-size: 15px
      margin: 10px 0 0
      a
        text-decoration: none
        color: #777
    h3
      margin: 0
    #respond
      margin: 0
      border: 0
      padding: 0
    #comment
      height: 75px
    #comments h2
      clear: none
  #review_form #respond:after
    clear: both
  #reviews #comments ol.commentlist
    li .comment-text:after, &:after
      clear: both
  .woocommerce-product-rating:after, td.product-name dl.variation:after
    clear: both
  #reviews #comments
    ol.commentlist
      margin: 0
      width: 100%
      background: 0 0
      list-style: none
      li
        padding: 0
        margin: 0 0 20px
        position: relative
        background: 0
        border: 0
        .meta
          color: #777
          font-size: .75em
        img.avatar
          float: left
          position: absolute
          top: 0
          left: 0
          padding: 3px
          width: 32px
          height: auto
          background: #ebe9eb
          border: 1px solid #e4e1e3
          margin: 0
          box-shadow: none
        .comment-text
          margin: 0 0 0 50px
          border: 1px solid #e4e1e3
          border-radius: 4px
          padding: 1em 1em 0
          p
            margin: 0 0 1em
            &.meta
              font-size: .83em
      ul.children
        list-style: none
        margin: 20px 0 0 50px
        .star-rating
          display: none
      #respond
        border: 1px solid #e4e1e3
        border-radius: 4px
        padding: 1em 1em 0
        margin: 20px 0 0 50px
    .commentlist > li:before
      content: ""
  .star-rating
    float: right
    overflow: hidden
    position: relative
    height: 1em
    line-height: 1
    font-size: 1em
    width: 5.4em
    font-family: star
    &:before
      content: "\73\73\73\73\73"
      color: #d3ced2
      float: left
      top: 0
      left: 0
      position: absolute
    span
      overflow: hidden
      float: left
      top: 0
      left: 0
      position: absolute
      padding-top: 1.5em
      &:before
        content: "\53\53\53\53\53"
        top: 0
        position: absolute
        left: 0
  .woocommerce-product-rating
    line-height: 2
    display: block
  table.shop_attributes
    td, th
      line-height: 1.5
      border-bottom: 1px dotted rgba(0, 0, 0, 0.1)
      border-top: 0
      margin: 0
  .woocommerce-product-rating
    &:after, &:before
      content: " "
      display: table
    .star-rating
      margin: .5em 4px 0 0
      float: left
  .products .star-rating
    display: block
    margin: 0 0 .5em
    float: none
  .hreview-aggregate .star-rating
    margin: 10px 0 0
  #review_form #respond
    position: static
    margin: 0
    width: auto
    padding: 0
    background: 0 0
    border: 0
    &:after, &:before
      content: " "
      display: table
    p
      margin: 0 0 10px
    .form-submit input
      left: auto
    textarea
      box-sizing: border-box
      width: 100%
  p.stars
    position: relative
    font-size: 1em
    a
      display: inline-block
      font-weight: 700
      margin-right: 1em
      text-indent: -9999px
      position: relative
      border-bottom: 0 !important
      outline: 0
      &:last-child
        border-right: 0
      &.star-1, &.star-2, &.star-3, &.star-4, &.star-5
        border-right: 1px solid #ccc
      &.star-1:after, &.star-2:after, &.star-3:after, &.star-4:after, &.star-5:after
        font-family: WooCommerce
        text-indent: 0
        position: absolute
        top: 0
        left: 0
      &.star-1
        width: 2em
        &:after
          content: "\e021"
        &.active:after, &:hover:after
          content: ""
      &.star-2
        width: 3em
        &:after
          content: "\e021\e021"
        &.active:after, &:hover:after
          content: ""
      &.star-3
        width: 4em
        &:after
          content: "\e021\e021\e021"
        &.active:after, &:hover:after
          content: ""
      &.star-4
        width: 5em
        &:after
          content: "\e021\e021\e021\e021"
        &.active:after, &:hover:after
          content: ""
      &.star-5
        width: 6em
        border: 0
        &:after
          content: "\e021\e021\e021\e021\e021"
        &.active:after, &:hover:after
          content: ""
  table
    &.shop_attributes
      border: 0
      border-top: 1px dotted rgba(0, 0, 0, 0.1)
      margin-bottom: 1.618em
      width: 100%
      th
        width: 150px
        font-weight: 700
        padding: 8px
      td
        font-style: italic
        padding: 0
        p
          margin: 0
          padding: 8px 0
      .alt
        td, th
          background: rgba(0, 0, 0, 0.025)
    &.shop_table
      border: 1px solid rgba(0, 0, 0, 0.1)
      margin: 0 -1px 24px 0
      text-align: left
      width: 100%
      border-collapse: separate
      border-radius: 5px
      th
        font-weight: 700
        padding: 9px 12px
      td
        border-top: 1px solid rgba(0, 0, 0, 0.1)
        padding: 6px 12px
        vertical-align: middle
        small
          font-weight: 400
      tbody
        &:first-child tr:first-child
          td, th
            border-top: 0
        th
          font-weight: 700
          border-top: 1px solid rgba(0, 0, 0, 0.1)
      tfoot
        td, th
          font-weight: 700
          border-top: 1px solid rgba(0, 0, 0, 0.1)
    &.my_account_orders
      font-size: .85em
      td, th
        padding: 4px 8px
        vertical-align: middle
      .button
        white-space: nowrap
      .order-actions
        text-align: right
        .button
          margin: .125em 0 .125em .25em
  td.product-name dl.variation
    margin: .25em 0
    &:after, &:before
      content: " "
      display: table
    dd
      display: inline-block
      float: left
      margin-bottom: 1em
    dt
      display: inline-block
      float: left
      margin-bottom: 1em
      font-weight: 700
      padding: 0 0 .25em
      margin: 0 4px 0 0
      clear: left
  ul
    &.cart_list li
      dl:after, &:after
        clear: both
    &.product_list_widget li
      dl:after, &:after
        clear: both
  td
    &.product-name
      dl.variation dd
        padding: 0 0 .25em
        p:last-child
          margin-bottom: 0
      p.backorder_notification
        font-size: .83em
    &.product-quantity
      min-width: 80px
  ul
    &.cart_list, &.product_list_widget
      list-style: none
      padding: 0
      margin: 0
    &.cart_list li, &.product_list_widget li
      padding: 4px 0
      margin: 0
      list-style: none
    &.cart_list li
      &:after, &:before
        content: " "
        display: table
    &.product_list_widget li
      &:after, &:before
        content: " "
        display: table
    &.cart_list li a, &.product_list_widget li a
      display: block
      font-weight: 700
    &.cart_list li img, &.product_list_widget li img
      float: right
      margin-left: 4px
      width: 32px
      height: auto
      box-shadow: none
    &.cart_list li dl, &.product_list_widget li dl
      margin: 0
      padding-left: 1em
      border-left: 2px solid rgba(0, 0, 0, 0.1)
    &.cart_list li dl
      &:after, &:before
        content: " "
        display: table
    &.product_list_widget li dl
      &:after, &:before
        content: " "
        display: table
    &.cart_list li dl
      dd, dt
        display: inline-block
        float: left
        margin-bottom: 1em
    &.product_list_widget li dl
      dd, dt
        display: inline-block
        float: left
        margin-bottom: 1em
    &.cart_list li dl dt, &.product_list_widget li dl dt
      font-weight: 700
      padding: 0 0 .25em
      margin: 0 4px 0 0
      clear: left
  .order_details:after, .widget_layered_nav ul li:after, .widget_shopping_cart .buttons:after
    clear: both

.woocommerce-account .addresses .title:after, .woocommerce-cart .wc-proceed-to-checkout:after
  clear: both

.woocommerce
  &.widget_shopping_cart .buttons:after
    clear: both
  ul
    &.cart_list li dl dd, &.product_list_widget li dl dd
      padding: 0 0 .25em
    &.cart_list li dl dd p:last-child, &.product_list_widget li dl dd p:last-child
      margin-bottom: 0
    &.cart_list li .star-rating, &.product_list_widget li .star-rating
      float: none
  .widget_shopping_cart .total, &.widget_shopping_cart .total
    border-top: 3px double #ebe9eb
    padding: 4px 0 0
  .widget_shopping_cart .total strong, &.widget_shopping_cart .total strong
    min-width: 40px
    display: inline-block
  .widget_shopping_cart .cart_list li, &.widget_shopping_cart .cart_list li
    padding-left: 2em
    position: relative
    padding-top: 0
  .widget_shopping_cart .cart_list li a.remove, &.widget_shopping_cart .cart_list li a.remove
    position: absolute
    top: 0
    left: 0
  .widget_shopping_cart .buttons
    &:after, &:before
      content: " "
      display: table
  &.widget_shopping_cart .buttons
    &:after, &:before
      content: " "
      display: table
  form
    .form-row
      padding: 3px
      margin: 0 0 6px
      [placeholder]:focus::-webkit-input-placeholder
        -webkit-transition: opacity .5s .5s ease
        -moz-transition: opacity .5s .5s ease
        transition: opacity .5s .5s ease
        opacity: 0
      label
        line-height: 2
        &.inline
          display: inline
      select
        cursor: pointer
        margin: 0
      .required
        color: red
        font-weight: 700
        border: 0
      .input-checkbox
        display: inline
        margin: -2px 8px 0 0
        text-align: center
        vertical-align: middle
      input.input-text
        box-sizing: border-box
        width: 100%
        margin: 0
        outline: 0
        line-height: 1
      textarea
        box-sizing: border-box
        width: 100%
        margin: 0
        outline: 0
        line-height: 1
        height: 4em
        line-height: 1.5
        display: block
        -moz-box-shadow: none
        -webkit-box-shadow: none
        box-shadow: none
      .select2-container
        width: 100%
        line-height: 2em
      &.woocommerce-invalid
        .select2-container, input.input-text, select
          border-color: #a00
      &.woocommerce-validated
        .select2-container, input.input-text, select
          border-color: #69bf29
      \::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder
        line-height: normal
    &.checkout_coupon, &.login, &.register
      border: 1px solid #d3ced2
      padding: 20px
      margin: 2em 0
      text-align: left
      border-radius: 5px
  ul#shipping_method
    list-style: none
    margin: 0
    padding: 0
    li
      margin: 0
      padding: .25em 0 .25em 22px
      text-indent: -22px
      list-style: none
    .amount
      font-weight: 700
  p.woocommerce-shipping-contents
    margin: 0
  .order_details
    margin: 0 0 1.5em
    list-style: none
    &:after, &:before
      content: " "
      display: table
    li
      float: left
      margin-right: 2em
      text-transform: uppercase
      font-size: .715em
      line-height: 1
      border-right: 1px dashed #d3ced2
      padding-right: 2em
      margin-left: 0
      padding-left: 0
      strong
        display: block
        font-size: 1.4em
        text-transform: none
        line-height: 1.5
      &:last-of-type
        border: none
  .widget_layered_nav ul
    margin: 0
    padding: 0
    border: 0
    list-style: none
    li
      padding: 0 0 1px
      list-style: none
      &:after, &:before
        content: " "
        display: table
      &.chosen a:before
        font-weight: 400
        line-height: 1
        content: ""
        color: #a00
        font-family: WooCommerce
        speak: none
        font-variant: normal
        text-transform: none
        -webkit-font-smoothing: antialiased
        text-decoration: none
  .widget_layered_nav_filters ul li a:before
    font-weight: 400
    line-height: 1
    content: ""
    color: #a00
    font-family: WooCommerce
    speak: none
    font-variant: normal
    text-transform: none
    -webkit-font-smoothing: antialiased
    text-decoration: none
  .widget_layered_nav ul li
    a, span
      padding: 1px 0
    &.chosen a:before
      margin-right: .618em
  .widget_layered_nav_filters ul
    margin: 0
    padding: 0
    border: 0
    list-style: none
    overflow: hidden
    zoom: 1
    li
      float: left
      padding: 0 1px 1px 0
      list-style: none
      a
        text-decoration: none
        &:before
          margin-right: .618em
  .widget_price_filter
    .price_slider
      margin-bottom: 1em
    .price_slider_amount
      text-align: right
      line-height: 2.4
      font-size: .8751em
      .button
        font-size: 1.15em
        float: left
    .ui-slider
      position: relative
      text-align: left
      margin-left: .5em
      margin-right: .5em
      .ui-slider-handle
        position: absolute
        z-index: 2
        width: 1em
        height: 1em
        background-color: #a46497
        border-radius: 1em
        cursor: ew-resize
        outline: 0
        top: -.3em
        margin-left: -.5em
      .ui-slider-range
        position: absolute
        z-index: 1
        font-size: .7em
        display: block
        border: 0
        border-radius: 1em
        background-color: #a46497
    .price_slider_wrapper .ui-widget-content
      border-radius: 1em
      background-color: #602053
      border: 0
    .ui-slider-horizontal
      height: .5em
      .ui-slider-range
        top: 0
        height: 100%
      .ui-slider-range-min
        left: -1px
      .ui-slider-range-max
        right: -1px

.woocommerce-account
  .addresses .title
    &:after, &:before
      content: " "
      display: table
    h3
      float: left
    .edit
      float: right
  ul.digital-downloads li .count
    float: right
  ol.commentlist.notes li.note
    p.meta
      font-weight: 700
      margin-bottom: 0
    .description p:last-child
      margin-bottom: 0
  ul.digital-downloads
    margin-left: 0
    padding-left: 0
    li
      list-style: none
      margin-left: 0
      padding-left: 0
      &:before
        font-family: WooCommerce
        speak: none
        font-weight: 400
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        margin-right: .618em
        content: ""
        text-decoration: none

.woocommerce-cart
  table.cart
    .product-thumbnail
      min-width: 32px
    img
      width: 32px
      box-shadow: none
    td, th
      vertical-align: middle
    td.actions .coupon .input-text
      float: left
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      border: 1px solid #d3ced2
      padding: 6px 6px 5px
      margin: 0 4px 0 0
      outline: 0
      line-height: 1
    input
      margin: 0
      vertical-align: middle
      line-height: 1
  .wc-proceed-to-checkout
    padding: 1em 0
    &:after, &:before
      content: " "
      display: table
    a.checkout-button
      display: block
      text-align: center
      margin-bottom: 1em
  .cart-collaterals
    .shipping_calculator
      .button
        width: 100%
        float: none
        display: block
      .shipping-calculator-button:after
        font-family: WooCommerce
        speak: none
        font-weight: 400
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        margin-left: .618em
        content: ""
        text-decoration: none
    .cart_totals
      p small
        color: #777
        font-size: .83em
      table
        border-collapse: separate
        margin: 0 0 6px
        padding: 0
        border-left: 0
        tr:first-child
          td, th
            border-top: 0
        th
          width: 25%
        td, th
          vertical-align: top
          border-left: 0
          border-right: 0
          padding: 6px 0
          line-height: 2em
        small
          color: #777
        select
          width: 100%
      .discount td
        color: #77a464
      tr
        td, th
          border-top: 1px solid #ebe9eb
    .cross-sells ul.products li.product
      margin-top: 0

.woocommerce-checkout .checkout
  .col-2
    h3#ship-to-different-address
      float: left
      clear: none
    .form-row-first, .notes
      clear: left
  .create-account small
    font-size: 11px
    color: #777
    font-weight: 400
  div.shipping-address
    padding: 0
    clear: left
    width: 100%

.single-product .twentythirteen p.stars
  clear: both

.woocommerce-checkout
  #payment ul.payment_methods:after, .checkout .shipping_address
    clear: both
  #payment
    background: #ebe9eb
    border-radius: 5px
    ul.payment_methods
      text-align: left
      padding: 1em
      border-bottom: 1px solid #d3ced2
      margin: 0
      list-style: none
      &:after, &:before
        content: " "
        display: table
      li
        line-height: 2
        text-align: left
        margin: 0
        font-weight: 400
        input
          margin: 0 1em 0 0
        img
          vertical-align: middle
          margin: -2px 0 0 .5em
          padding: 0
          position: relative
          box-shadow: none
          + img
            margin-left: 2px
    div
      &.form-row
        padding: 1em
      &.payment_box
        position: relative
        width: 96%
        padding: 1em 2%
        margin: 1em 0
        font-size: .92em
        border-radius: 2px
        line-height: 1.5
        background-color: #dfdcde
        color: #515151
        input.input-text, textarea
          border-color: #bbb3b9 #c7c1c6 #c7c1c6
        \::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder
          color: #bbb3b9
        .wc-credit-card-form-card-cvc, .wc-credit-card-form-card-expiry, .wc-credit-card-form-card-number
          font-size: 1.5em
          padding: 8px
          background-repeat: no-repeat
          background-position: right
        .wc-credit-card-form-card-cvc.visa, .wc-credit-card-form-card-expiry.visa, .wc-credit-card-form-card-number.visa
          background-image: url(../images/icons/credit-cards/visa.png)
        .wc-credit-card-form-card-cvc.mastercard, .wc-credit-card-form-card-expiry.mastercard, .wc-credit-card-form-card-number.mastercard
          background-image: url(../images/icons/credit-cards/mastercard.png)
        .wc-credit-card-form-card-cvc.laser, .wc-credit-card-form-card-expiry.laser, .wc-credit-card-form-card-number.laser
          background-image: url(../images/icons/credit-cards/laser.png)
        .wc-credit-card-form-card-cvc.dinersclub, .wc-credit-card-form-card-expiry.dinersclub, .wc-credit-card-form-card-number.dinersclub
          background-image: url(../images/icons/credit-cards/diners.png)
        .wc-credit-card-form-card-cvc.maestro, .wc-credit-card-form-card-expiry.maestro, .wc-credit-card-form-card-number.maestro
          background-image: url(../images/icons/credit-cards/maestro.png)
        .wc-credit-card-form-card-cvc.jcb, .wc-credit-card-form-card-expiry.jcb, .wc-credit-card-form-card-number.jcb
          background-image: url(../images/icons/credit-cards/jcb.png)
        .wc-credit-card-form-card-cvc.amex, .wc-credit-card-form-card-expiry.amex, .wc-credit-card-form-card-number.amex
          background-image: url(../images/icons/credit-cards/amex.png)
        .wc-credit-card-form-card-cvc.discover, .wc-credit-card-form-card-expiry.discover, .wc-credit-card-form-card-number.discover
          background-image: url(../images/icons/credit-cards/discover.png)
        span.help
          font-size: .857em
          color: #777
          font-weight: 400
        .form-row
          margin: 0 0 1em
        p:last-child
          margin-bottom: 0
        &:after
          content: ""
          display: block
          border: 8px solid #dfdcde
          border-right-color: transparent
          border-left-color: transparent
          border-top-color: transparent
          position: absolute
          top: -3px
          left: 0
          margin: -1em 0 0 2em
    .payment_method_paypal
      .about_paypal
        float: right
        line-height: 52px
        font-size: .83em
      img
        max-height: 52px
        vertical-align: middle

#content.twentyeleven .woocommerce-pagination a
  font-size: 1em
  line-height: 1

.single-product .twentythirteen
  #reply-title, #respond #commentform, .entry-summary
    padding: 0

.twentythirteen .woocommerce-breadcrumb
  padding-top: 40px

.twentyfourteen ul.products li.product
  margin-top: 0 !important