/* Transparent Colours */

$trans-red: rgba(214, 59, 26, .9);	
$trans-turq: rgba(12, 164, 155, .9);	
$trans-green: rgba(64, 161, 66, .9);	
$trans-pink: rgba(255, 51, 102, .9);	
$trans-purple: rgba(130, 41, 128, .9);	
$trans-blue: rgba(28, 117, 188, .9);	
$trans-orange: rgba(247, 143, 30, .9);
$trans-navy: rgba(17, 17, 94, .9);
$trans-sun: rgba(240, 83, 50, .9);
$trans-lime: rgba(205, 214, 42, .9);
$trans-navy: rgba(33, 64, 154, .9);
$trans-black:rgba(0, 0, 0, 0.34);

/* Solid Colours */

$turq: #0ca49b;
$pink: #ff3366;
$yellow: #ffd238;
$purple: #822980;
$navy: #333399;
$orange: #f05332;
$blue: #1c75bc;
$green: #40a142;
$burntorange: #f7941e;
$red: #f05332;
$dark-gray: #b9b8bb;


/* Wire-frame colors */
$gray : #585858;
$gray_0 : #878787;
$gray_lite : #eeeeee;
$white : #ffffff;


/* new colors */
$black: #000000;
$dark_grey: #87898b;
$lite_grey: #b9b8bb;
$liter_grey: #e6e7e9;
$purple: #822980;
$burgundy: #c5215e;
$orange: #f05332;
$aqua: #0ca49b;
$hp_blue: #0096d6;
$forms_background: #f7f7f7;

$border_c : #e8e8e8;
$ribbon_s_c : #bb5350;
$description_c : #767676;
$price_c : #6d4919;
$category_h_c : #333333;
$gray_back_c : #dfe3e6;
$gray_font_c : #696969;
$gray_footer_font_c : #737373;
$menu_hover_c : #5c5c5c;
$menu_dark_c : #878787;
$menu_separator : #cdcdcd;
$menu_back : #4c4c4c;

$menu_active_top : #5c5c5c;
$pagination_c : #5c5c5c;

$product_des_c :#686868;
$input_border: #7c99a8;
$submit_b: #7c99a8;
$pagination_b: #7c99a8;
$forms_link_c: #7c99a8;
$submit_b_h: #627b8a;


// archive page
$back_light_gray : #e8e8e8;
$light_gray_c : #767676;
$drag_filter : #7c99a8;
$drag_back : #e8e8e8;
$filter_c : #7c99a8;

// notice
$notice_c : #7c99a8;

// cart
$pro_c : #7c99a8;
$table_border : #999999;
$table_cell_border : #cdcdcd;
$table_breaker : #a3b7c2;
$remove_cross : #7c99a8;
$message_c : #333;

// common
$p_c : #5c5c5c;
$li_c : #6c6c6c;