html {
  @media #{$tablet} {
    font-size: 50%;
  }
  width: 100%;
  @include box;
}
body {

  font-weight: 400;
  font-family: $Lato-Regular;
  color: #626262;
  @include font-size(1.8, 2.4);
  width: 100%;
  background: $white !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  @include rems(max-width, 100);
  @include clearfix;
}
.vertical-center {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.content-box {
  display: block;
  width: 32%;
  @include box;
  @include rems(padding, 2);
  color: #fff;
  h2 {
    @include font-size(3.6, 4.6);
    @include rems(margin-bottom, 1.5);
    text-transform: lowercase;
  }
}
section {
  &.content {
    //@include background-cover;
    //background-position: top center;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include box;
    .container {
      display: table;
      @include box;
    }
  }
}

.desktop-link {
  @media #{$phone} {
    display: none!important;
  }
}
.mobile-link {
  display: none!important;
  @media #{$phone} {
    display: block!important;
  }
}

.footer_lang_container {
  display: none;
}


.desktopOnly{
  display: block;
  @media #{$phone}{
    display: none !important;
  }
}
.mobileOnly{
  display: block;
  @media #{$desktop}{
    display: none !important;
  }
}
.table{
  &.fullHeight{
    height: 100%;
  }
  display: table;
  width: 100%;
  position: relative;
  .cell.auto{
    width: auto !important;
  }
  .cell{
    display: table-cell;
    width: 100%;
    position: relative;
  }

  .cell.middle{
    vertical-align: middle;
  }
  .cell.top{
    vertical-align: top;
  }
  .cell.bottom{
    vertical-align: bottom;
  }
  .cell.baseline{
    vertical-align: baseline;
  }
}
.inlineBlock{
  display: inline-block
}
.textRight{
  text-align: right
}
.textLeft{
  text-align: left
}
.textCenter{
  text-align: center;
}
.button{
  @include rems('padding-left',1.2);
  @include rems('padding-right',1.2);
  @include rems('padding-top',.6);
  @include rems('padding-bottom',.6);
  white-space: nowrap;
  background-image: none;
  outline: none;
  border: 0px;
  cursor: pointer;
  &.btn-gray{
    background: $purple;
    color: $white;
    text-decoration: none;
    @include font-size(1.8, 3);
    font-family: 'HPSimplifiedLight', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    @include rems('padding-left',3);
    @include rems('padding-right',3);
  }
  &.btn-blue{
    background: #0096d6;
    color: $white;
    text-decoration: none;
    @include font-size(1.8, 3);
    font-family: 'HPSimplifiedLight', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    @include rems('padding-left',3);
    @include rems('padding-right',3);
  }
}
.input-rest{
  background-image: none;
  outline: none;
  border: 0px;
}

.btn{
  font-family: $Lato-Bold;
  border-radius: 0;
  &.btn-submit{
    @include rems('padding',2.5,4);
    @include font-size(2,2);
    background: $submit_b;
    color: $white;
    text-transform: uppercase;
    @include rems('min-width',19);
    &:hover{
      background: $submit_b_h;
    }
  }
  &.btn-normal{
    @include rems('padding',1,3);
    @include font-size(1.4,1.4);
    background: $submit_b;
    color: $white;
    text-transform: uppercase;
    @include rems('min-width',17);
    &:hover{
      background: $submit_b_h;
    }
  }
}
.submitHolder{
  text-align: center;
  @include rems(padding-top,3);
}


.contentWrapper{
  .contentCMS{
    h2{
      @include rems(padding,0);
      @include rems(margin,0,0,1,0);
      background: transparent;
    }
  }
}
