.quickDetailsHolder
  display: block
  width: 100%
  margin-bottom: 0
  li
    display: table
    width: 100%
    +rems(margin,3,0)
    .icon,.details
      display: table-cell
      vertical-align: middle
    .icon
      width: 60px !important
    .details
      font-family: $Lato-Regular
      .mainText
        color: $pro_c
        +font-size(2,2.5)
        display: block
        width: 100%
      .subText
        color: $p_c
        +font-size(1.6,2)
        display: block
        width: 100%
      .spText
        color: $p_c
        +font-size(2,2.5)
        width: 100%
        display: block