$desktop: "only screen and (min-width : 41em)";
$tablet: "only screen and (max-width : 65em)";
$tablet-portrait: "only screen and (max-width : 65em) and (orientation: portrait)"; // SL added
$tablet-landscape: "only screen and (max-width : 100em) and (orientation: landscape)"; // SL added
$phablet: "only screen and (max-width : 45em)";
$phone: "only screen and (max-width : 41.5em)";
$phone-lower: "only screen and (max-width : 21em)";

$lg: "only screen and (min-width : 1200px)";
$md: "only screen and (min-width : 992px) and (max-width : 1200px)";
$sm: "only screen and (min-width : 768px) and (max-width : 992px)";
$xs: "only screen and (max-width : 768px)";
$xxs: "only screen and (max-width : 480px)";


@mixin phone-hide {
    @media #{$phone} {
        display: none;
    }
}
@mixin phone-show {
	display: none;
    @media #{$phone} {
        display: block;
    }
}
@mixin full-width {
    @media #{$phone} {
        width: 100%;
    }
}
@mixin auto-height {
	@media #{$phone} {
		height: auto;
	}
}