/*

  Icon mixin for Font-Awesome icons.

*/

@mixin icon {
  	display: inline-block;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;	
}

/*

  Font Size mixin, produces rem and px units for font-size and line-height
  e.g. @includes font-size(1.4, 1.8);
  compiles to
    font-size: 14px;
    line-height: 18px;
    font-size: 1.4rem;
    line-height: 1.8rem;

*/

@mixin font-size-rems($size:1.6, $line: $size * 1.5){
    font-size:   ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size:   $size + rem;
  	line-height: $line + rem;
}

@mixin font-size($size:1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
}
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

/*

  Rem sizing mixin, produces rem and px units for any value
  e.g. @includes rems(margin, 1);
  compiles to
    margin: 10px;
    margin: 1rem;

  e.g. @includes rems(margin, 2, 1);
  compiles to
    margin: 20px 10px;
    margin: 2rem 1rem;

  e.g. @includes rems(margin, 2, 1, 0);
  compiles to
    margin: 20px 10px 0;
    margin: 2rem 1rem 0;

  e.g. @includes rems(margin, 4, 3, 2, 1);
  compiles to
    margin: 40px 30px 20px 10px;
    margin: 4rem 3rem 2rem 1rem;

*/

@mixin rems($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value*10}px;

        @if $i < $max {
          $pxValues: #{$pxValues + " "};
        }
    } 

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;

        @if $i < $max {
          $remValues: #{$remValues + " "};
        }
    } 
    
    #{$property}: $pxValues; 
    #{$property}: $remValues; 
}

/*

  Opacity mixin including vendor specific prefixes for opacity values
  e.g. @includes opacity(0.8);
  compiles to
    opacity: 0.8;
    filter: alpha(opacity=80);

*/

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

/*

  Mixin for creating evenly sized and spaced columns. Should be combined with floated elements e.g. aside
  e.g. @includes rowMachine(3, 2%);
  Would produce three columns, where columns would have
    width: 32%;
    margin-bottom: 2%;
  columns one and two would have 
    margin-right: 2%; 
  and the third column would have 
    margin-right: 0;

*/

@mixin rowMachine($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
    }
    &:nth-child(#{$numPerRow}n+1) {
  	   clear: both;  
    }
}

/*

  Mixin for clearing floated elements before closing the parent

*/

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
       clear: both;
    }
}

/*

  Mixin to includes vendor specific prefixes for
    box-sizing: border-box;

*/

@mixin box {
  	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  		      box-sizing: border-box;         /* Opera/IE 8+ */	
}

/*

  Mixin to includes vendor specific prefixes for border-radius
  e.g. @includes border-radius(10px);
  compiles to
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px; 
        -ms-border-radius: 10px;
            border-radius: 10px;

*/

@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
  	   -moz-border-radius: $radius;	
  	    -ms-border-radius: $radius;
  	        border-radius: $radius;
}

/*

  Mixin to create columns of text, and add evenly spaced gaps between them
  e.g. @includes columns(2, 20px);
  compiles to
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;

    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;

*/

@mixin columns($count: 3, $gap: 10) {
    -webkit-column-count: $count;
       -moz-column-count: $count;
            column-count: $count;

    -webkit-column-gap: $gap;
       -moz-column-gap: $gap;
            column-gap: $gap;
}

/* 

  Mixin to includes vendor specific prexixes for background-size: cover;

*/

@mixin background-cover {
  	-webkit-background-size: cover;
  	        background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;	
}


/* Thilina SL Team  */
@mixin transition ($prop : 'all' , $time : 0.3 , $animation : 'ease-in-out') {
  -webkit-transition: $prop $time+s $animation;
  -moz-transition: $prop $time+s $animation;
  -ms-transition: $prop $time+s $animation;
  -o-transition: $prop $time+s $animation;
  transition: $prop $time+s $animation;
}