.pintOnly
  display: none
h3.pintOnly
  +font-size(3,3)
  font-family: $Lato-Regular
  color: $black
  text-align: center
  width: 100%
@media print
  .buttonHolder
    display: none !important
  .ribbonHolder
    display: none !important
  nav
    display: none !important
  .navbar
    display: none !important
  .messageHolder
    display: none !important
  .pintOnly
    display: block !important
