/*!
Theme Name:         8edtimes WordPress Theme 2.0
Theme URI:          http://8edtimes.com
Description:        Custom developed site for 8edtimes
Version:            1.0.0.0
Author:             Thilina Perera
Author URI:         http://thilinaperera.com
*/
html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased !important;	
}
html, body {
	height: 100%;
}
* { 
	margin:0; 
	padding:0; 
}
ol,ul {
	list-style:none;
}
img {
	border: none;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.clear {
	clear: both;
}
.col, aside {
	float: left;
}
p {
	padding-bottom: 1.5rem;
	padding-bottom: 15px;
}
p:last-child {
	padding-bottom: 0;	
}
.container {
	width: 100%;
	margin: 0 auto;
}
::-moz-selection {
  background: #edd595;
  /* Safari */
  color: #fff; }
::selection {
	background: #edd595; /* Safari */
	color: #fff;
	}
::-moz-selection {
	background: #edd595; /* Firefox */
	color: #fff;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;	
}